customtkinter
SpeechRecognition
pyaudio
numpy
vosk
sounddevice
noisereduce
webrtcvad-wheels
pydub
soundfile
openai-whisper
requests
tqdm
spacy
nltk
sumy
textblob
python-docx
reportlab
transformers
torch
networkx
wordcloud
pydantic
python-pptx
beautifulsoup4